[project]
name = "youtube-trends-archive"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "google-api-python-client>=2.187.0",
    "pytz>=2025.2",
]

[dependency-groups]
dev = [
    "ruff>=0.14.6",
]
