name: Daily Archive

on:
  workflow_dispatch:

jobs:
  archive:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
          cache: 'pip'

      - name: Install dependencies
        run: pip install .

      - name: Run
        run: |
          python src/main.py
